
a {
    /* 行内元素 转换为 块级元素 */
    display: block;
    background-color: #55585a;
    width: 200px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    line-height: 40px;
}

a:hover {
    background-color: #ff6f00;
}